* {
 margin:0;
 padding:0;
 box-sizing: border-box;
}

html {
 font-family: 'Inter', 'Roboto', 'Ubuntu', sans-serif;
}

header {
 padding-inline: 4px;
 padding-block: 8px;
}

header ul {
 display: flex;
 flex-flow: wrap;
 flex-direction: row;
}

ul li {
 list-style: none;
 padding:0;
 border: 1px solid #BFBFBF;
}

a {
 text-decoration: none;
 display: flex;
 padding: 4px 8px;
 position: relative;
 width: 100px;
 align-items:center;
 justify-content: center;
 background:teal;
 color: white;
}

a:hover {
 color: lightblue;
 font-weight: bold;
 cursor: pointer;
}

main {
 min-height: 80vh;
 padding: 8px 4px;
 background: yellow;
}

.go_home {
 border: 1px solid lightgray;
 border-radius: 8px;
 padding: 4px 8px;
}

/* HTML: <div class="loader"></div> */
/*thanks to https://css-loaders.com/spinner/*/

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
